*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
 
}
:root {
--bg-color:#080808;
--second-bg-color:#131313;
--text-color:white;
--main-color:#ffcb08;
}
html{
    overflow-x: hidden;
    height: 100%;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
    height: 100%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 10% 0rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5000;
}
.logo{
    display: flex;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    padding: none;
}

.logo span{
text-shadow: 0 0 25px var(--main-color);
padding-top :1rem;
font-family: 'Orbitron';
}

.navbar a{
font-size: 1rem;
font-weight: bold;
color: var(--text-color);
margin-left: 3rem;

transition: 0.3s ease;
border-bottom: 3px solid transparent;
font-family: 'orbitron';
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    transition: color 0.3s ease, border-bottom 0.3s ease;
}


#menu-icon{
font-size: 3.6rem;
color: var(--main-color);
display: none;
}
section{
    padding: 10rem 10% 10rem;

}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    
}
#home .background-image {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%; /* Ensures it spans the full width */
    height: 100%; /* Ensures it spans the full height */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%238D8689' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23C0C0C0'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-size: contain; /* Prevents the image from being cut */
    background-repeat:repeat; /* Ensures no repetition */
    background-position: center; /* Centers the background */
    transform-origin: center;
    opacity: 0.1; /* Optional transparency */
    animation: move-bg-3d 10s infinite ease-in-out;
}
@keyframes move-bg-3d {
    0% {
        transform: scale(1) rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: scale(1.1) rotateX(10deg) rotateY(-10deg);
    }
    50% {
        transform: scale(1.2) rotateX(-10deg) rotateY(10deg);
    }
    75% {
        transform: scale(1.1) rotateX(5deg) rotateY(-5deg);
    }
    100% {
        transform: scale(1) rotateX(0deg) rotateY(0deg);
    }
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home-col-1{
    flex-basis: 60%;
}


.home-col-2{
    flex-basis: 30%;
}
 
 
.logo span{
    color: var(--main-color);
}



.home-img img{
    top: 0rem;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.home-col-1 p{
    font-family: 'orbitron';
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.8;
    max-width: 700;
    
    
}
.btn{
    display: inline-block;
     
    padding: 0.5rem 1.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-direction: row;
        
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;

}


@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .animated-text{
        font-size: 11px;
    }
    .stat-text{
        font-size: 12px;
    }
    .home-col-1,.home-col-2{
        flex-basis: 100%;
    }
    .home-col-1{
        margin-bottom: 80px; 
    }
    .home-col-2{
        font-size: 14px;
    }
}

@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0,0,0,0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
        z-index: 10000;
        
    }
    .home{
        flex-direction: column-reverse;
        margin:-2rem 1rem;
    }
    .home-col-1,.home-col-2{
        flex-basis: 100%;
    }
    .home-col-1{
        font-size: 12px;
        margin-bottom: 100px; 
    }
    .home-col-2{
        font-size: 1px;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content .text{
        font-size: 8rem;
        
    }
    .home-content p{
        font-size: 2px;
        max-width: 600;
        margin-bottom:15px;

    }
    .home-img img{
        margin-top: 2rem;
        width: 56vw;
        margin-bottom: 0;
    }
    .animated-text{
        font-size: 2rem;
    }
    .stat-text{
        font-size: 2rem;
    }
}

.stat-text{
    font-family:'orbitron';
    font-size: 3.5rem;
    padding-left: 1rem;
    background-clip: text;
    color: transparent;
    background: linear-gradient(90deg, #f39c12, #db9b25, #e8822eea);
    -webkit-background-clip: text;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    font-weight: bolder;
}
.typewriter-text {
    font-family: 'Courier New', Courier, monospace; /* Typewriter font */
    font-size: 1.5rem; /* Adjust the font size */
    color: #333; /* Text color */
     
     /* Prevents text wrapping */
    overflow: hidden; /* Hides the text initially */
    border-right: 4px solid #fffcfc; /* Creates the blinking cursor */
    animation: typing 10s steps(60) 1s 1 normal both, blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    50% {
      border-color: transparent; /* Hide cursor halfway */
    }
  }
  
  .text-container {
    position: relative;
    display: inline-block;
    height: 4rem;
    overflow: hidden;
    border-radius: 15px;
}
 
.animated-text {
    font-family:'orbitron';
    font-size: 3.5rem;
    padding-left: 1rem;
    background-clip: text;
    color: transparent;
    background: linear-gradient(90deg, #f39c12, #dbb425c5, #150b0b95);
    -webkit-background-clip: text;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    font-weight: bolder;
    animation: scrollSideways 4s ease-in-out forwards; /* Sideways scroll animation */
    opacity: 0; /* Start with text invisible */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

@keyframes scrollSideways {
    0% {
        transform: translateX(0); /* Start at current position */
        opacity: 1; /* Text visible */
    }
    10% {
        opacity: 1;
    }
    80% {
        transform: translateX(0); /* Keep the text in place */
        opacity: 1;
    }
    90% {
        transform: translateX(100%); /* Slide to the right */
        opacity: 0;
    }
    100% {
        transform: translateX(100%); /* Keep offscreen to the right */
        opacity: 0;
    }
}


 

 
.glow {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgb(255, 0, 0);  
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode:lighten;
    
    filter: blur(50px) brightness(0.2);  
   
  }
  
/*---------------------------loader------------------------*/
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeOut 1s forwards;
    animation-delay: 2s;
}

#loading-logo {
    width: 100px;
    height: 100px;
    transform: scale(0.5);
    animation: zoomIn 1s forwards, moveToHeader 1.5s 1s forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(3);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes moveToHeader {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
  
    100% {
        transform: translate(-37vw, -44.5vh);
        width: 80px;
        height: auto;
    }
}

body.loading-active {
    overflow: hidden;
}
body.loading-active {
    overflow: hidden;
}

 




/*------------------------------projects-------------------*/
#projects{
    background:#080808;
    box-sizing: border-box;
     
}
.project-title{
    font-size: 4rem; /* Set font size */
    font-family: 'orbitron';
    font-weight: bold;
    color: rgb(155, 152, 152);
    margin-top: 10%;/* Add spacing above the title */
    text-align: center; /* Center the title */
    text-transform: uppercase; /* Make it uppercase */
    letter-spacing: 2px; /* Optional: add some spacing between letters */
    margin-bottom: 60px; /* Space between the title and cards */
    opacity: 0; /* Initially hide the text */
    transform: translateY(-100px); /* Start the text higher up */
    transition: opacity 1s ease, transform 2s ease; /* Smooth transition */
}
 
 

 
.project-title.animate {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Slide up to the normal position */
}

.timeline{
    position:relative;
    max-width: 1200px;
    margin:100px auto;
} 

.containerp {
    z-index: 100;
    padding: 10px 50px;
    position: relative;
    width: 50%;
    opacity: 0; 
    transform: translateY(-30px); 
    transition: opacity 1s ease, transform 1s ease;
}


.containerp.show {
    opacity: 1;
    transform: translateY(0);
}


 

.containerp:nth-child(2) {
    transition-delay: 1s;
}

.containerp:nth-child(3) {
    transition-delay: 2s;
}
.containerp:nth-child(4) {
    transition-delay: 3s;
}
 
.text-box{
    padding: 20px 30px;
    background: #848080;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.text-box p{
    font-family: 'orbitron';
}
.text-box a{
    color: #000;
    font-family: 'orbitron';
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.text-box i{
    font-style: italic;
}
.text-box a:active{
    opacity: 0.6;
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.containerp .circle{
    width: 30px;
    height: 30px;
    background-color: rgba(220,0,240,0.403);
    border-radius: 50%;
    position: absolute;
    top: 32px;
    right: -15px;  
}
.containerp .circle::after{
content:'';
width: 15px;
height: 15px;
background-color: rgb(106, 6,236);
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}
.right-container .circle{
    left: -15px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 0; /* Initially hidden */
    background-image: linear-gradient(to bottom,rgb(106, 6, 236), rgb(220, 0, 240));
    top: 0;
    left: 50%;
    margin-left: -3px;
   
    transition: height 6s ease-out; /* Smooth animation */
}

/* Trigger the timeline animation when visible */
.timeline.animate::after {
    height: 100%;
   
}
.text-box h2{
    font-family: 'orbitron';
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left:15px solid #848080;
    right: -14px;  
   
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:15px solid #848080;
    left: -14px;  
}


@media screen and (max-width: 600px){
.animated-text{
    font-size: 2rem;
}
.stat-text{
    font-size: 2rem;
}
.home-img{
    margin-bottom: 1px;
    padding: 0;
}
.home-content .text{
    margin-top: 1px;
    padding: 0;
    font-size: 3rem;
}
.timeline{
    margin: 50px auto;
}
.timeline::after{
    left: 31px;
}  
.containerp{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
}

.text-box{
    font-size: 13px;
}
.text-box small{
    margin-bottom:10px;
}
.right-container{
    left: 0;
}

.left-container-arrow, .right-container-arrow{
    border-right:15px solid #fff;
    border-left:0;
    left:-15px;
}
.left-container .circle,.right-container .circle{
    left: 15px;
}
}

 

 
/*------------------------small screens-------------------------*/

@media only screen and (max-width: 600px){
 
    .animated-text{
        font-size: 2rem;
    }
    .text{
        font-size: 3rem;
    }
 
}
 
#members { 
    display: flex;
    flex-direction: column; /* Stack the title and cards vertically */
    align-items: center;
    justify-content: center;
    background:#080808;
    background-size: cover;
    overflow: hidden;
}
 
/* -----------------------Team members-----------------------*/

.team-title {
    font-size:4rem; /* Set font size */
    font-family: 'orbitron';
    font-weight: bold;
    color: rgb(155, 152, 152);
    margin-top: 5rem; 
    text-align: center;  
    text-transform: uppercase;  
    letter-spacing: 2px;  
    opacity: 0;  
    transform: translateY(-100px);  
    transition: opacity 1s ease, transform 2s ease;  
}

.team-title.animate {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Slide up to the normal position */
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    grid-gap: 100px 250px;  
    margin-top: 5%;
    margin-bottom: 50px;
}

.card-container > .card:nth-child(1) {
    grid-column: 1 / -1;  /* Occupy the entire first row */
    grid-row: 1;  
    justify-self: center; 
}

.card-container > .card:nth-child(2),
.card-container > .card:nth-child(3) {
    grid-column: span 1;
    grid-row: 2;  /* Place in the second row */
}

.card-container > .card:nth-child(4),
.card-container > .card:nth-child(5) {
    grid-column: span 1;
    grid-row: 3;  /* Place in the third row */
}

.card-container > .card:nth-child(6),
.card-container > .card:nth-child(7) {
    grid-column: span 1;
    grid-row: 4;  /* Place in the fourth row */
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px 100px 100px;
    grid-template-areas: 
        "image"
        "text"
        "stats";
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    background: #1d1d1d;
    color: white;
    box-shadow: 2px 2px 15px rgba(10, 10, 10, 0.793);
    text-align: justify;
    cursor: pointer;
    margin: 0 auto; /* Center the card horizontally */
    transform-style: preserve-3d;
    perspective: 1000px;
    border: solid #fff 1px;
}
.card-icon0 a i{
    margin-top: 5.5rem;
  }
.card-icon1 a i{
    margin-top: 0.5rem;
}
.card-icon2 a i{
    margin-top: 1.5rem;
}
.card-icon3 a i{
    margin-top: 1.5rem;
}
.card-icon4 a i{
    margin-top: 2.5rem;
}
.card-icon5 a i{
    margin-top: 0.5rem;
}
.card-icon6 a i{
    margin-top: 1.5rem;
}

.card-icon0 a i:active{
    opacity: 0.8;
}

.card-icon1 a i:active{
    opacity: 0.8;
}
.card-icon2 a i:active{
    opacity: 0.8;
}

.card-icon3 a i:active{
    opacity: 0.8;
}
.card-icon4 a i:active{
    opacity: 0.8;
}
.card-icon5 a i:active{
    opacity: 0.8;
}
.card-icon6 a i:active{
    opacity: 0.8;
}

 
@media (max-width: 1024px) {
    .card-container{
        display: flex;
        flex-wrap: wrap;    
        
        margin-top: 50px;
    }
}
 

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
   
}
.card0 {
    grid-area: image;
    background:linear-gradient(#fff0 0%, #fff0 70%,#1d1d1d 100%),url(Images/member1.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card1 {
    grid-area: image;
    background:linear-gradient(#fff0 0%, #fff0 70%,#1d1d1d 100%),url(Images/member2.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card2{
    grid-area: image;
    background:linear-gradient(#fff0 0%, #fff0 70%,#1d1d1d 100%),url(Images/member3.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card3{
    grid-area: image;
    background:linear-gradient(#fff0 0%, #fff0 70%,#1d1d1d 100%),url(Images/member4.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card4{
    grid-area: image;
    background:linear-gradient(#fff0 0%, #fff0 70%,#1d1d1d 100%),url(Images/member5.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card5{
    grid-area: image;
    background:linear-gradient(#fff0 0%, #fff0 70%,#1d1d1d 100%),url(Images/member6.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .card6{
    grid-area: image;
    background:linear-gradient(#fff0 0%, #fff0 70%,#1d1d1d 100%),url(Images/member7.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size:cover;
  }
  .card-text {
      grid-area: text;
      margin: 20px;
      margin-top: 0;
      transform: translateZ(30px);
  }
  .card-text .date {
      color:rgb(255,7,110);
      font-size: 13px;
      font-family: 'orbitron';
      text-align: center;
    }
    .card-text p {
      color :rgba(251, 246, 246, 0.847);
      font-size: 0.8rem;
      font-weight: 300; 
      font-family: "poppins";
    
  }
  .card-text h2 {
      margin-top: 0px;
      font-size: 28px;
      margin-bottom: 0.3rem;
  }
 
 .card-text i{
    display: flex;
    color: #fff;
    margin-top:0.2rem;
    font-size: 2rem;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    
 }
  .rgb::after {
    content : "";
    background: linear-gradient(45deg,
    #ff0000 0%,
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%,
    #3fdad8 40%,
    #2fc9e2 50%,
    #1c7fee 60%,
    #5f15f2 70%,
    #ba0cf8 80%,
    #fb07d9 90%,
    #ff0000 100%)
    repeat 0% 0% / 300% 100%;
    position:absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px);
    animation: rgb 6s linear infinite;
  }
  @keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
    
  }
  .Lead{
    color: rgb(214, 214, 28);
  }
  .js-tilt-glare{
    border-radius: 15px;
  }



  /* contact section */

  #contact{ 
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    position: relative;
    overflow: hidden; /* Ensures the image stays within bounds */
  }
  @keyframes move-bg {
    0% {
        background-position: 0% 80%;
    }
    100% {
        background-position: 100% 50%;
    }
}
 
#contact .background-image {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%; /* Ensures it spans the full width */
    height: 100%; /* Ensures it spans the full height */
    background: #080808;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23444444' stroke-width='1.7'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23D629AC'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 300px 300px;  
     /* Ensures no repetition */
    background-position: center; /* Centers the background */
    opacity: 0.4; /* Optional transparency */
    animation: move-bg 9s infinite alternate; /* Apply background animation */
}
  .contact-container {
    margin-top: 5%;
    position: relative;
    text-align: center;
    font-family: 'orbitron';
}
 
.tagline h1, .tagline p {
    padding: 10px;
    line-height: 1;
    background-color: rgb(12, 22, 45);
    justify-content: center;
    color: rgb(155, 152, 152);
}

.tagline h1 {
  font-size: 2rem; 
  color: rgb(155, 152, 152);
  font-family: 'orbitron';
}

.tagline p {
  font-size:2rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace) !important;
  visibility: hidden;  
}
 
.cursor {
    display: inline-block;
    width: 2px;
    height: 1.2em;
    color: #ffff;
    background-color: #fff  ;
    vertical-align: middle;
    animation: blink 0.6s steps(2, start) infinite;
}

@keyframes blink {
    50% {
        opacity: 1  ;
    }
}
  
  
  .contact-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .contact-form {
    margin-bottom: 20px; 
    background: #1d1d1d;
    padding: 20px;
    border-radius: 15px;
    width: 40%;
    min-width: 300px;
  }
  .contact-form h2{
    padding: 10px;
    font-size: 1.4rem;
    font-family: 'orbitron';
  }
  .contact-form input, .contact-form textarea {
    width: 100%;
    margin-bottom: 35px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
  }
  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border-color: #6a11cb;
    box-shadow: 0 0 10px #6a11cb;  
  }
  .contact-form button {
    padding: 10px 20px;
    background: linear-gradient(#0f0f0fc9,#727075);
    color: white;
    font-size: 1.1rem;
    font-family: 'orbitron';
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow:1px 1px 25px rgb(36, 36, 36);
    margin-top: 1rem;
  } 
  .contact-form input::placeholder, textarea::placeholder {
    color: #fff;   
    opacity: 0.7;       
}
  .contact-form button:active {
    opacity: 0.5;
  }

  .social-media{
    background: linear-gradient(135deg, #deac17a1, #50504eef,#0000007e);  
    padding: 20px 20px;
    margin-top: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  
  .social-media h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-family: 'orbitron';
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    
  }
  
  .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    text-align: center;
    border-radius: 50%;
    color: rgb(182, 174, 174); 
    background: linear-gradient(135deg, #481F49, #04265A,#040D21);   
    font-size: 1.5rem;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
    transition: transform 0.2s ease, filter 0.2s ease;  
}

.icon:hover {
    transform: translateY(-10px); 
    background: linear-gradient(135deg, #481F49, #04265A,#040D21);   
    color: #fff;
}
  
 
  .schedule-call {
    margin-bottom: 20px;
    background: #1d1d1d;
    padding: 20px;
    border-radius: 15px;
     
    width: 40%;
    min-width: 300px;
  }
  .schedule-call input::placeholder, textarea::placeholder {
    color: #fff;   
    opacity: 0.7;      
}
  
  .schedule-call h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    word-spacing: 5px;
    font-family: 'orbitron';
  }
 
  
  .schedule-form input {
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
  }
 
  
  .schedule-form input:focus {
    outline: none;
    border-color: #6a11cb;
    box-shadow: 0 0 10px #6a11cb;
  }
  
  .schedule-form button {
    margin-top: 2rem;
    padding: 10px 20px;
    background: linear-gradient(#0f0f0fc9,#727075);
    color: white;
    font-size: 1.1rem;
    font-family: 'orbitron';
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow:1px 1px 25px rgb(36, 36, 36);
  }
  
  .schedule-form button:active {
    opacity: 0.5;
  }
 .schedule-form .response-message{
    padding: 1rem;
    font-size: 1.2rem;
    font-family: 'orbitron';
    display:block;
    content: "";
    height: 3rem;
 }
 .copyrights {
    display: flex;
    background-color: #000000;
    color: #ede1e1;
    width: 100%;
    font-size: 18px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;  
    min-height: 60px;  
   height: auto ;
    margin: 0;  
      
  }
  
  
  .copyrights p {
    font-family: 'Orbitron', sans-serif;
    margin: 0;  
  }
  